$dm-background: #303446;
$dm-foreground: #c6d0f5;
$dm-border: #414559;
$dm-link: #8caaee;
$dm-hover: #babbf1;
$dm-accent: #ca9ee6;
$dm-secondary-text: #a5adce;
$dm-code-bg: #292c3c;
$dm-code-text: #e5c890;

